<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lab9</title>
    
    <link rel="stylesheet" href="public/css/main.css">
    
</head>
<body>
    <main class="container">
        <h1>Login</h1>
                {{{body}}}
        <footer>
            <p>Jay Dangi</p>
            <p>10421655</p>
            <p>jdangi@stevens.edu</p>
        </footer>
    </main>
</body>
</html>